body{
    background-color: greenyellow;
}
#score{
    font-size: 40px;
    margin-left: 80px;
}
#timer{
    font-size: 35px;
    float:right;
    margin-right: 80px;
}
#SKetch_to_be_drawn{
  color: chocolate;   
}